#security,
#tasks {
    margin: 25px;
    width: 50%;
    background-color: #f4f4f4;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
}

#security h1 {
    text-align: center;
    font-size: 2rem;
    color: #2e2e2e;
    margin: 3rem 0;
}

#security img {
    max-width: 100%;  /* La imagen ocupará el 100% del ancho disponible */
    height: auto;  /* Mantendrá la proporción de aspecto de la imagen */
}

#tasks h1 {
    text-align: center;
    font-size: 2rem;
    color: #2e2e2e;
    margin: 3rem 0;
}

#tabla-tasks {
    width: 100%; /* O ajusta el ancho según tus necesidades */
    border-collapse: collapse;
}

#tabla-tasks th,
#tabla-tasks td {
    padding: 10px; /* Ajusta el relleno según tus preferencias */
    border: 1px solid #ddd; /* Agrega bordes para separar las celdas */
}

#tabla-tasks th {
    background-color: #f2f2f2; /* Un color de fondo para las celdas del encabezado */
    text-align: left; /* Alinea el texto a la izquierda en las celdas del encabezado */
}

#all-reports {
    margin: 30px auto;
    width: 90%;
    max-width: 90rem;
    background-color: #f4f4f4;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
}

#all-reports h1 {
    text-align: center;
    font-size: 2rem;
    color: #2e2e2e;
    margin: 3rem 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.report {
    margin-bottom: 1.5rem; /* Espacio entre reportes */
}

.report a {
    width: 100%;
    margin: 0 auto;
    transform-origin: top;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    background-color: white;
}