/* Estilo para el contenedor del formulario */
#reporte-form {
    max-width: 300px;
    margin: 50px auto 100px;
    padding: 20px;
    background: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para el título del formulario */
h2 {
    text-align: center;
    color: #333;
}

/* Estilo para el formulario */
form {
    margin-top: 20px;
}

/* Estilo para los campos del formulario */
form p {
    margin: 10px 0;
}

/* Estilo para las etiquetas de los campos */
label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

/* Estilo para los campos de entrada */
.estilo-input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.estilo-input[type="file"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Opcional: Cambio de color al pasar el ratón sobre el campo de entrada de archivo */
.estilo-input[type="file"]:hover {
    border-color: #6a1a9a; /* Puedes ajustar el color del hover según tus preferencias */
}

/* Estilo para el botón de envío */
.crear-button {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    background-color: #8a2be2; /* Color morado, puedes ajustarlo según tus preferencias */
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.crear-button:hover {
    background-color: #4B0082;
}

.cancelar-button {
    display: inline-block;
    padding: 7px 20px;
    text-decoration: none;
    color: #fff;
    background-color: #808080; /* Color morado, puedes ajustarlo según tus preferencias */
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.cancelar-button:hover {
    background-color: #4B0082;
}