/* Estilo básico para los enlaces dentro de la sección con id "botones" */
#botones {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    background-color: #002d74; /* Color morado, puedes ajustarlo según tus preferencias */
    border-radius: 5px;
    margin-left: 25px; /* Añade margen derecho entre los botones */
    margin-bottom: 10px;
}

/* Cambio de color al pasar el ratón sobre los enlaces */
#botones:hover {
    background-color: #3a8dde; /* Puedes ajustar el color del hover según tus preferencias */
}

#filtro-form {
    margin-bottom: 20px;
}

#filtro-form button {
    background-color: #002d74;
    color: #fff;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#filtro-form button:hover {
    background-color: #3a8dde;
}

#filtro-cuenta {
    padding: 8px;
}

#tabla-usuarios,
#tabla-cuentas,
#tabla-reportes,
#tabla-tareas {
    width: 95%;
    border-collapse: collapse;
    margin-bottom: 20px;
    margin-left: 25px;
}

#tabla-usuarios th,
#tabla-cuentas th,
#tabla-reportes th,
#tabla-tareas th,
#tabla-usuarios td,
#tabla-cuentas td,
#tabla-reportes td,
#tabla-tareas td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#tabla-usuarios th,
#tabla-cuentas th,
#tabla-reportes th,
#tabla-tareas th {
    background-color: #f2f2f2;
}

#tabla-usuarios td,
#tabla-cuentas td,
#tabla-reportes td,
#tabla-tareas td {
    background-color: #fff;
}

/* Agrega estilos para los botones */
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #3498db;
    color: #fff;
    background-color: #3498db;
    border-radius: 4px;
}

/* Estilos específicos para los botones de editar y eliminar */
.btn-editar {
    background-color: #2ecc71;
    border-color: #2ecc71;
}

.btn-eliminar {
    background-color: #e74c3c;
    border-color: #e74c3c;
}

.btn-editar:hover {
    background-color: #228B22;
    border-color: #228B22;
}

.btn-eliminar:hover {
    background-color: #8B0000;
    border-color: #8B0000;
}

/* Agrega estos estilos en tu archivo CSS o dentro del bloque de estilos en el HTML */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.modal-content button {
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    color: #fff;
    background-color: #002d74; /* Color morado, puedes ajustarlo según tus preferencias */
    border-radius: 5px;
}

.modal-content button:hover {
    background-color: #3a8dde;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}