/* Estilo para el contenedor del formulario */
#login-form {
    max-width: 300px;
    margin: 50px auto;
    padding: 20px;
    background: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para el título del formulario */
h2 {
    text-align: center;
    color: #333;
}

/* Estilo para el formulario */
form {
    margin-top: 20px;
}

/* Estilo para los campos del formulario */
form p {
    margin: 10px 0;
}

/* Estilo para las etiquetas de los campos */
label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

/* Estilo para los campos de entrada */
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Estilo para el botón de envío */
input[type="submit"] {
    background-color: #6305dd;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #4B0082;
}

#alert {
    margin: 3rem auto;
    border: 1px solid #d6000b;
    background-color: #ffe6e7;
    padding: 1rem;
    width: 50%;
    max-width: 40rem;
    text-align: center;
  }
  
  #alert a {
    text-decoration: none;
    border: 1px solid #d6000b;
    background-color: #d6000b;
    color: white;
    padding: 0.25rem 1.5rem;
    border-radius: 6px;
  }