{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static "app.css" %}">
    <link rel="icon" type="image/x-icon" href="{% static "images/IsotipoColor.png"%}">
    {% block css_files %}{% endblock %}
</head>
<body>
    <header id="main-navigation">
        <img src="{% static "images/ImagotipoNegativo.png"%}" alt="LOGO SCG" />
        {% if request.path != "/login/" and request.path != "/reset_password/" and request.path != "/reset_password/sent/" and request.path != "/reset/<uidb64>/<token>/" and request.path != "/reset_password/completed/" %}
            {% if nombre_cuenta != "SCG" %}
                <h2><a href="{% url 'client' nombre_cuenta %}">Home</a></h2>
                <h2><a href="{% url 'reports' nombre_cuenta %}">Reports</a></h2>
                <h2><a href="{% url 'tasks' nombre_cuenta %}">Tasks</a></h2>
                <h2>{% block reporte_button %}{% endblock %}</h2>
            {% else %}
                <h2><a href="{% url 'index' nombre_cuenta %}" style='margin-right: 750px;'>Home</a></h2>
            {% endif %}
        {% endif %}
        <nav>
            {% if request.path != "/login/" and request.path != "/reset_password/" and request.path != "/reset_password/sent/" and request.path != "/reset/<uidb64>/<token>/" and request.path != "/reset_password/completed/" %}
                <div class="dropdown">
                    <img class='dropbtn' src="{% static "images/profile.png"%}" alt="PERFIL" />
                    <div class="dropdown-content">
                        <a href="{% url 'perfil' nombre_cuenta %}">Ver Detalles del Perfil</a>
                        <a href="{% url 'logout' %}">Cerrar Sesión</a>
                    </div>
                </div>
            {% endif %}
        </nav>
    </header>

    <footer id="main-footer">
        <p>&copy; 2024 SCG</p>
    </footer>

    {% block content %}
    {% endblock %}
</body>
</html>

