{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static "app.css" %}">
    {% block css_files %}{% endblock %}
</head>
<body>
    <header id="main-navigation">
        <h1><a href="">SECURITY GROUP CR</a></h1>
        {% if request.path != "/login/" %}
            {% if nombre_cuenta != "SCG" %}
                <h2><a href="{% url 'client' nombre_cuenta %}">Inicio</a></h2>
            {% else %}
                <h2><a href="{% url 'index' nombre_cuenta %}">Inicio</a></h2>
            {% endif %}
        {% endif %}
        <nav>
            {% if request.path != "/login/" %}
                {% block reporte_button %}{% endblock %}
                <div class="dropdown">
                    <span class="dropbtn">Mi Perfil</span>
                    <div class="dropdown-content">
                        <a href="{% url 'perfil' nombre_cuenta %}">Ver Detalles del Perfil</a>
                        <a href="{% url 'logout' %}">Cerrar Sesión</a>
                    </div>
                </div>
            {% endif %}
        </nav>
    </header>

    <footer id="main-footer">
        <p>&copy; 2024 SCG</p>
    </footer>

    {% block content %}
    {% endblock %}
</body>
</html>

