{% extends "base.html" %}
{% load static %}

{% block title %} 
    Dasboard - Admin
{% endblock %}

{% block css_files %}
    {% comment %} <link rel="stylesheet" href="{% static "user/index.css" %}"> {% endcomment %}
    <link rel="stylesheet" href="{% static "user/styles.min.css" %}">
{% endblock %}

{% block content %}

    <main>
        <div class="container admin-portal">
            <div class="row heading-row">
                <div class="col heading-row">
                    <h1 class="text-center">Customer Administration</h1>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card">
                        <form method="post" action="{% url 'crear_cuenta' nombre_cuenta %}">
                            {% csrf_token %}
                            <div class="input-group">
                                <button class="btn" type="submit">Create</button>
                                <input name="nombre" class="form-control" type="text" placeholder="a new customer account">
                            </div>
                        </form>
                        <div class="input-group"><button class="btn" type="button" data-bs-target="#modal-register-contract" data-bs-toggle="modal">Register</button><span class="input-group-text">a contract #</span></div>
                        <div class="input-group"><button class="btn" type="button" data-bs-target="#modal-create-user" data-bs-toggle="modal">Add</button><span class="input-group-text">a new user</span></div>
                        <div class="input-group"><button class="btn" type="button" data-bs-target="#modal-security-report" data-bs-toggle="modal">Upload</button><span class="input-group-text">a new security report</span></div>
                        <div class="input-group"><button id="filterBtn" class="btn filter" type="button">Filter by</button><input id="customerAccountInput" type="text" class="form-select input-group-text" list="customer_accounts" placeholder="customer account name"><datalist id="customer_accounts">
    {% for cuenta in cuentas %}
        <option value="{{ cuenta.nombre }}">{{ cuenta.nombre }}</option>
    {% endfor %}
    </datalist></div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" id="accountInfoCard">
                        <div class="input-group">
                            <p class="input-group-text cust-info">Account ID</p><span class="input-group-text" id="accountID"></span>
                        </div>
                        <div class="input-group">
                            <p class="input-group-text cust-info">Account Name</p><span class="input-group-text" id="accountName"></span>
                        </div>
                        <div class="input-group">
                            <p class="input-group-text cust-info">Contract</p><span class="input-group-text" id="contract"></span>
                        </div>
                        <div class="input-group">
                            <p class="input-group-text cust-info">Status</p><span class="input-group-text" id="status"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card">
                        <h1 class="text-start">Contracts</h1>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Contract ID</th>
                                        <th>Status</th>
                                        <th>Start Date</th>
                                        <th>End Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for contrato in contratos %}
                                        <tr>
                                            <td><a href="#" data-bs-target="#modal-edit-contract" data-bs-toggle="modal">{{ contrato.id_contrato }}</a></td>
                                            <td>{{ contrato.status }}</td>
                                            <td>{{ contrato.fecha_inicio }}</td>
                                            <td>{{ contrato.fecha_final }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <nav class="d-xl-flex justify-content-xl-end">
                            <ul class="pagination pagination-sm">
                                <li class="page-item"><a class="page-link" aria-label="Previous" href="#"><span aria-hidden="true">«</span></a></li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">4</a></li>
                                <li class="page-item"><a class="page-link" href="#">5</a></li>
                                <li class="page-item"><a class="page-link" aria-label="Next" href="#"><span aria-hidden="true">»</span></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <h1 class="text-start">Users</h1>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Phone</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for usuario in usuarios %}
                                        <tr>
                                            <td><a href="#" data-bs-target="#modal-edit-user" data-bs-toggle="modal">{{ usuario.nombre }}</a></td>
                                            <td>{{ usuario.correo }}</td>
                                            <td>{{ usuario.telefono }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <nav class="d-xl-flex justify-content-xl-end">
                            <ul class="pagination pagination-sm">
                                <li class="page-item"><a class="page-link" aria-label="Previous" href="#"><span aria-hidden="true">«</span></a></li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">4</a></li>
                                <li class="page-item"><a class="page-link" href="#">5</a></li>
                                <li class="page-item"><a class="page-link" aria-label="Next" href="#"><span aria-hidden="true">»</span></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h1 class="text-start">Vulnerability Count by Risk Category - Report ID&nbsp;<span id="reportId" class="reportId">0000</span></h1><div class="canvas">
    <canvas id="vuln_by_risk"></canvas>
    </div>
                </div>
                <div class="col">
                    <h1 class="text-start">Vulnerability Count by Top 10 Hosts - Report ID&nbsp;<span id="reportId" class="reportId">0000</span></h1><div class="table-responsive" id="vuln_by_target">
    <!--     <canvas id="vuln_by_risk"></canvas> -->
    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h1 class="text-start">Vulnerability Count by Top 10 Alerts (Critical, High, Medium) - Report ID&nbsp;<span id="reportId-1" class="reportId">0000</span></h1><div class="table-responsive" id="top_alerts">
    <!--     <canvas id="vuln_by_risk"></canvas> -->
    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h1 class="text-start">Security Reports</h1>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Date</th>
                                    <th>Report ID</th>
                                    <th>Scan Type</th>
                                    <th>File</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for reporte in reportes %}
                                    <tr>
                                        <td><input type="radio" checked="" name="report" value="{{ reporte.id_reporte }}"></td>
                                        <td>{{ reporte.fecha_reporte }}</td>
                                        <td><a href="../security_report_123456.html">{{ reporte.id_reporte }}</a></td>
                                        <td>{{ reporte.tipo_reporte }}</td>
                                        <td><a href="#">Download</a></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <nav class="d-xl-flex justify-content-xl-end">
                        <ul class="pagination pagination-sm">
                            <li class="page-item"><a class="page-link" aria-label="Previous" href="#"><span aria-hidden="true">«</span></a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                            <li class="page-item"><a class="page-link" href="#">5</a></li>
                            <li class="page-item"><a class="page-link" aria-label="Next" href="#"><span aria-hidden="true">»</span></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="modal fade modal_format" role="dialog" tabindex="-1" id="modal-security-report">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Upload a Security Report</h4><button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">
                            <form method="POST" action="{% url 'crear_reporte' nombre_cuenta=nombre_cuenta %}" enctype="multipart/form-data" class="d-flex flex-column" style="padding: 10px;">
                            {% csrf_token %}
                                <div>
                                    <label class="form-label" for="scan_type" data-i18n="section_contact.form_name">Scan Type</label>
                                    <select class="form-select" name="tipo_reporte" required>
                                        <option value="Vulnerability Scan (Network)">Vulnerability Scan (Network)</option>
                                        <option value="Vulnerability Scan (WebApp)">Vulnerability Scan (WebApp)</option>
                                        <option value="pentest" selected>PenTest</option>
                                        <option value="PerfTest" selected>PerfTest</option>
                                    </select>
                                </div>
                                <div>
                                    <label class="form-label" for="customer_account" data-i18n="section_contact.form_name">Customer Account</label>
                                    <input class="form-control form-select" type="text" list="customer_accounts" name="cuenta_reporte" required>
                                    <datalist id="customer_accounts">
                                        {% for cuenta in cuentas %}
                                            <option value="{{ cuenta.nombre }}">{{ cuenta.nombre }}</option>
                                        {% endfor %}
                                    </datalist>
                                </div>
                                <div>
                                    <label class="form-label" for="raw_source" data-i18n="section_contact.form_name">RAW Source (json)</label>
                                    <input type="file" name="source" required>
                                </div>
                                <div>
                                    <label class="form-label" for="parsed_source" data-i18n="section_contact.form_name">Parsed Source (Dradis PDF)</label>
                                    <input type="file" name="file_report" required>
                                </div>
                                <button class="btn btn-primary justify-content-center justify-content-lg-center" type="submit" style="background: #3a8dde;border-style: none;max-width: 50%;margin-right: 25%;margin-left: 25%;margin-top: 15px;margin-bottom: 15px;" data-i18n="section_contact.form_button">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade modal_format" role="dialog" tabindex="-1" id="modal-create-user">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Add a new user</h4><button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">
                            <form method="POST" action="{% url 'crear_usuario' nombre_cuenta=nombre_cuenta %}" class="d-flex flex-column" style="padding: 10px;">
                                {% csrf_token %}
                                <div class="input-group">
                                    <label class="form-label" for="customer_account" data-i18n="section_contact.form_name">Customer Account</label>
                                    <select class="form-control" name="nombre" required>
                                        {% for cuenta in cuentas %}
                                            <option value="{{ cuenta.nombre }}">{{ cuenta.nombre }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div>
                                    <label class="form-label" for="name" data-i18n="section_contact.form_name">Name</label>
                                    <input class="form-control" type="text" name="nombre" required>
                                </div>
                                <div>
                                    <label class="form-label" for="email" data-i18n="section_contact.form_email">Email</label>
                                    <input class="form-control" type="email" name="correo" required>
                                </div>
                                <div>
                                    <label class="form-label" for="phone" data-i18n="section_contact.form_phone">Phone</label>
                                    <input class="form-control" type="text" name="telefono" required>
                                </div>
                                <div>
                                    <label class="form-label" for="tipo" data-i18n="section_contact.form_user_type">User Type</label>
                                    <select class="form-control" name="tipo" required>
                                        {% for tipo in tipos %}
                                            <option value="{{ tipo.0 }}">{{ tipo.1 }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <button class="btn btn-primary justify-content-center justify-content-lg-center" type="submit" style="background: #3a8dde; border-style: none; max-width: 50%; margin-right: 25%; margin-left: 25%; margin-top: 15px; margin-bottom: 15px;" data-i18n="section_contact.form_button">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade modal_format" role="dialog" tabindex="-1" id="modal-edit-user">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Edit User</h4><button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">
                            <form class="d-flex flex-column" style="padding: 10px;">
                                <div><label class="form-label" for="name" data-i18n="section_contact.form_name">Name</label><input class="form-control" type="text" required="" value="John"></div>
                                <div><label class="form-label" for="name" data-i18n="section_contact.form_name">Last Name</label><input class="form-control" type="text" required="" value="Doe"></div>
                                <div><label class="form-label" for="name" data-i18n="section_contact.form_name">Email</label><input class="form-control" type="email" required="" value="johndoe@email.com"></div>
                                <div><label class="form-label" for="name" data-i18n="section_contact.form_name">Phone</label><input class="form-control" type="tel" required="" value="+506 1234-5678"></div>
                                <div><label class="form-label" for="name" data-i18n="section_contact.form_name">Status</label><select class="form-select">
                                        <option value="active" selected="">Active</option>
                                        <option value="inactive">Inactive</option>
                                    </select></div>
                                <div><button class="btn reset_password" type="button" data-i18n="section_contact.form_button">Reset Password</button><button class="btn submit" type="submit" data-i18n="section_contact.form_button">Submit</button></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade modal_format" role="dialog" tabindex="-1" id="modal-register-contract">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Register a contract #</h4><button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">
                            <form method="POST" action="{% url 'crear_contrato' nombre_cuenta %}" class="d-flex flex-column" style="padding: 10px;">
                                {% csrf_token %}
                                <div class="input-group">
                                    <label class="form-label" for="customer_account">Customer Account</label>
                                    <input name="cuenta_contrato" class="form-control form-select" type="text" list="customer_accounts" id="customer_account">
                                    <datalist id="customer_accounts">
                                        {% for cuenta in cuentas %}
                                            <option value="{{ cuenta.nombre }}">{{ cuenta.nombre }}</option>
                                        {% endfor %}
                                    </datalist>
                                </div>
                                <div>
                                    <label class="form-label" for="contract_number">Contract #</label>
                                    <input name="id_contrato" class="form-control" type="text" id="contract_number">
                                </div>
                                <div>
                                    <label class="form-label" for="start_date">Start Date</label>
                                    <input name="fecha_inicio" class="form-control" type="date" id="start_date">
                                </div>
                                <div>
                                    <label class="form-label" for="end_date">End Date</label>
                                    <input name="fecha_final" class="form-control" type="date" id="end_date">
                                </div>
                                <button class="btn btn-primary justify-content-center justify-content-lg-center" type="submit" style="background: #3a8dde;border-style: none;max-width: 50%;margin-right: 25%;margin-left: 25%;margin-top: 15px;margin-bottom: 15px;" data-i18n="section_contact.form_button">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade modal_format" role="dialog" tabindex="-1" id="modal-edit-contract">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Edit Contract</h4><button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">
                            <form class="d-flex flex-column" style="padding: 10px;">
                                <div class="input-group"><datalist id="customer_accounts">
    {% for cuenta in cuentas %}
        <option value="{{ cuenta.nombre }}">{{ cuenta.nombre }}</option>
    {% endfor %}
    </datalist></div>
                                <div><label class="form-label" for="name" data-i18n="section_contact.form_name">Contract #&nbsp;<span>123456</span></label></div>
                                <div><label class="form-label" for="name" data-i18n="section_contact.form_name">Status</label><select class="form-select form-control">
                                        <option value="active" selected="">Active</option>
                                        <option value="inactive">Inactive</option>
                                    </select></div>
                                <div><label class="form-label" for="name" data-i18n="section_contact.form_name">Start Date</label><input class="form-control" required="" type="date"></div>
                                <div><label class="form-label" for="name" data-i18n="section_contact.form_name">End Date</label><input class="form-control" required="" type="date"></div><button class="btn btn-primary justify-content-center justify-content-lg-center" type="submit" style="background: #3a8dde;border-style: none;max-width: 50%;margin-right: 25%;margin-left: 25%;margin-top: 15px;margin-bottom: 15px;" data-i18n="section_contact.form_button">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#filterBtn').click(function() {
                var selectedAccount = $('#customerAccountInput').val();
                $.ajax({
                    url: '{% url 'get_account_data' nombre_cuenta %}', // URL de la vista que devuelve los datos de la cuenta
                    method: 'GET',
                    data: {'account_name': selectedAccount},
                    success: function(response) {
                        // Actualizar los campos con los datos recibidos del servidor
                        $('#accountID').text(response.account_id);
                        $('#accountName').text(response.account_name);
                        $('#contract').text(response.contract);
                        $('#status').text(response.status);
                    },
                    error: function(xhr, errmsg, err) {
                        console.log(errmsg);
                    }
                });
            });
        });
    </script>
    
{% endblock %}