{% extends "base.html" %}
{% load static %}

{% block title %} 
    Dasboard - {{ nombre_cuenta }}
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "user/report.css"%}">
    <link rel="stylesheet" href="{% static "user/client.css" %}">
    <link rel="stylesheet" href="{% static "user/styles.min.css" %}">
{% endblock %}

{% block content %}

    <main>
        <div class="container charts">
            <div class="row heading-row">
                <div class="col heading-row">
                    <h1 class="text-center">Security Overview</h1>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h1 class="text-start">Vulnerability Count by Risk Category - Report ID&nbsp;<span id="reportId" class="reportId">0000</span></h1><div class="canvas">
    <canvas id="vuln_by_risk"></canvas>
    </div>
                </div>
                <div class="col">
                    <h1 class="text-start">Vulnerability Count by Top 10 Hosts - Report ID&nbsp;<span id="reportId" class="reportId">0000</span></h1><div class="table-responsive" id="vuln_by_target">
    <!--     <canvas id="vuln_by_risk"></canvas> -->
    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h1 class="text-start">Vulnerability Count by Top 10 Alerts (Critical, High, Medium) - Report ID&nbsp;<span id="reportId-1" class="reportId">0000</span></h1><div class="table-responsive" id="top_alerts">
    <!--     <canvas id="vuln_by_risk"></canvas> -->
    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h1 class="text-start">Security Reports</h1>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Date</th>
                                    <th>Report ID</th>
                                    <th>Scan Type</th>
                                    <th>File</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for reporte in reportes %}
                                    <tr>
                                        <td><input type="radio" checked="" name="report" value="{{ reporte.id_reporte }}"></td>
                                        <td>{{ reporte.fecha_reporte }}</td>
                                        <td><a href="{% url 'view_reporte' reporte.cuenta_reporte.nombre reporte.id_reporte %}">{{ reporte.id_reporte }}</a></td>
                                        <td>{{ reporte.tipo_reporte }}</td>
                                        <td><a href="{% url 'download_report' id_reporte=reporte.id_reporte nombre_cuenta=reporte.cuenta_reporte.nombre %}" download>Download</a></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <nav class="d-xl-flex justify-content-xl-end">
                        <ul class="pagination pagination-sm">
                            <li class="page-item"><a class="page-link" aria-label="Previous" href="#"><span aria-hidden="true">«</span></a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                            <li class="page-item"><a class="page-link" href="#">5</a></li>
                            <li class="page-item"><a class="page-link" aria-label="Next" href="#"><span aria-hidden="true">»</span></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

    <div style="display: flex; justify-content: space-between;">
        
        <section id="security">
            <h2>Security Overview</h2>
            <canvas id="myChart" style="width:100%;max-width:600px"></canvas>
        </section>

        <section id="tasks">
            <h2>Ongoing Actions</h2>
            <table id="tabla-tasks">
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tarea in tareas %}
                        <tr>
                            <td>{{ tarea.id_tarea }}</td>
                            <td class="{% if tarea.status == 'Completed' %}completed{% elif tarea.status == 'In Progress' %}in-progress{% elif tarea.status == 'Pending' %}pending{% elif tarea.status == 'Not Started' %}not-started{% endif %}">
                                {{ tarea.status }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
    </div>

    <section id="all-reports">
        <h2>Recent reports</h2>

        {% if reportes %}
            <ul>
                {% for reporte in reportes|slice:":5" %}
                    {% include "user/includes/report.html" %}
                {% endfor %}
            </ul>
        {% else %}
            <p>No hay informes disponibles para esta cuenta.</p>
        {% endif %}
    </section>

    <br/><br/><br/><br/>

    <script>
        const xValues = [100,200,300,400,500,600,700,800,900,1000];
        
        new Chart("myChart", {
          type: "line",
          data: {
            labels: xValues,
            datasets: [{ 
              data: [860,1140,1060,1060,1070,1110,1330,2210,7830,2478],
              borderColor: "red",
              fill: false
            }, { 
              data: [1600,1700,1700,1900,2000,2700,4000,5000,6000,7000],
              borderColor: "green",
              fill: false
            }, { 
              data: [300,700,2000,5000,6000,4000,2000,1000,200,100],
              borderColor: "blue",
              fill: false
            }]
          },
          options: {
            legend: {display: false}
          }
        });
    </script>
    
{% endblock %}