{% extends "base.html" %}
{% load static %}

{% block title %} 
    Dasboard - {{ nombre_cuenta }}
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "user/client_tasks.css" %}">
{% endblock %}

{% block content %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

    <section id="open-tasks">
        <h2>Open Tasks</h2>
        <table id="tabla-tasks">
            <thead>
                <tr>
                    <th>Incident</th>
                    <th>Description</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for tarea in tareas %}
                    {% if tarea.status != 'Completed' %}
                        <tr>
                            <td>{{ tarea.incidente }}</td>
                            <td>{{ tarea.descripcion }}</td>
                            <td class="{% if tarea.status == 'In Progress' %}in-progress{% elif tarea.status == 'Pending' %}pending{% elif tarea.status == 'Not Started' %}not-started{% endif %}">
                                {{ tarea.status }}
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}  
            </tbody>
        </table>
    </section>

    <section id="completed-tasks">
        <h2>Completed Tasks</h2>
        <table id="tabla-tasks">
            <thead>
                <tr>
                    <th>Incident</th>
                    <th>Description</th>
                    <th>LOE</th>
                </tr>
            </thead>
            <tbody>
                {% for tarea in tareas_completadas %}
                    <tr>
                        <td>{{ tarea.incidente }}</td>
                        <td>{{ tarea.descripcion }}</td>
                        <td>{{ tarea.loe }}</td>
                    </tr>
                {% endfor %} 
            </tbody>
        </table>
    </section>

    <section id="loe">
        <h2>LOE Overview</h2>
        <canvas id="myChart" style="width:100%;max-width:600px"></canvas>
    </section>

    <br/><br/><br/><br/>

    <script>
        var xValues = ["X", "Y", "Z"];
        var yValues = [55, 49, 44];
        var barColors = [
          "#b91d47",
          "#00aba9",
          "#2b5797"
        ];
        
        new Chart("myChart", {
          type: "pie",
          data: {
            labels: xValues,
            datasets: [{
              backgroundColor: barColors,
              data: yValues
            }]
          }
        });
    </script>
    
{% endblock %}