{% extends "base.html" %}
{% load static %}

{% block title %} 
    Dasboard - {{ nombre_cuenta }}
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "user/report.css"%}">
    <link rel="stylesheet" href="{% static "user/client.css" %}">
{% endblock %}

{% block content %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

    <div style="display: flex; justify-content: space-between;">
        <section id="security">
            <h2>Security Overview</h2>
            <canvas id="myChart" style="width:100%;max-width:600px"></canvas>
            <!--img src="data:image/png;base64,{{ chart_data }}" alt="Gráfico Lineal"-->
        </section>

        <section id="tasks">
            <h2>Ongoing Actions</h2>
            <table id="tabla-tasks">
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                        <tr>
                            <td>Tarea 1</td>
                            <td>In Progress</td>
                        </tr>
                        <tr>
                            <td>Tarea 2</td>
                            <td>In Progress</td>
                        </tr>
                        <tr>
                            <td>Tarea 3</td>
                            <td>In Progress</td>
                        </tr>
                        <tr>
                            <td>Tarea 4</td>
                            <td>In Progress</td>
                        </tr>
                        <tr>
                            <td>Tarea 5</td>
                            <td>In Progress</td>
                        </tr>
                </tbody>
            </table>
        </section>
    </div>

    <section id="all-reports">
        <h2>Recent reports</h2>

        {% if reportes %}
            <ul>
                {% for reporte in reportes|slice:":5" %}
                    {% include "user/includes/report.html" %}
                {% endfor %}
            </ul>
        {% else %}
            <p>No hay informes disponibles para esta cuenta.</p>
        {% endif %}
    </section>

    <br/><br/><br/><br/>

    <script>
        const xValues = [100,200,300,400,500,600,700,800,900,1000];
        
        new Chart("myChart", {
          type: "line",
          data: {
            labels: xValues,
            datasets: [{ 
              data: [860,1140,1060,1060,1070,1110,1330,2210,7830,2478],
              borderColor: "red",
              fill: false
            }, { 
              data: [1600,1700,1700,1900,2000,2700,4000,5000,6000,7000],
              borderColor: "green",
              fill: false
            }, { 
              data: [300,700,2000,5000,6000,4000,2000,1000,200,100],
              borderColor: "blue",
              fill: false
            }]
          },
          options: {
            legend: {display: false}
          }
        });
    </script>
    
{% endblock %}