{% extends "base.html" %}
{% load static %}

{% block title %} 
    CREAR CUENTA
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "user/crear_reporte.css" %}">
{% endblock %}

{% block content %}

    <section id="reporte-form">
        <h2>CREAR REPORTE</h2>
        <form method="post" action="{% url 'crear_reporte' nombre_cuenta=nombre_cuenta %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="purple-button">Crear Reporte</button>
        </form>
    </section>

{% endblock %}