{% extends "base.html" %}
{% load static %}

{% block title %} 
    CREAR USUARIO
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "user/crear_usuario.css" %}">
{% endblock %}

{% block content %}

    <section id="usuario-form">
        <h2>CREAR USUARIO</h2>
        <form method="post" action="{% url 'crear_usuario' nombre_cuenta=nombre_cuenta %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="crear-button">Crear Usuario</button>
        </form>
    </section>

{% endblock %}