{% extends "base.html" %}
{% load static %}

{% block title %} 
    CREAR TAREA
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "user/crear_tarea.css" %}">
{% endblock %}

{% block content %}

    <section id="tarea-form">
        <h2>CREAR TAREA</h2>
        <form method="post" action="{% url 'crear_tarea' nombre_cuenta=nombre_cuenta %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="crear-button">Crear Reporte</button>
        </form>
    </section><br/><br/>

{% endblock %}