{% extends "base.html" %}
{% load static %}

{% block title %} 
    Dasboard - Admin
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "user/index.css" %}">
{% endblock %}

{% block content %}

    <h2>Dasboard de {{ nombre_cuenta }}</h2>

    <section id="botones">
        <a href="{% url 'crear_usuario' nombre_cuenta=nombre_cuenta %}">Crear Usuario</a>
        <a href="{% url 'crear_cuenta' nombre_cuenta=nombre_cuenta %}">Registrar Cuenta</a>
        <a href="{% url 'crear_reporte' nombre_cuenta=nombre_cuenta %}">Registrar Reporte</a>
    </section>
    
{% endblock %}