{% load static %}

{% block title %} 
    <title>Confirmar clave</title>
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "app.css" %}">
    <link rel="stylesheet" href="{% static "user/reset_correo.css" %}">
    <link rel="icon" type="image/x-icon" href="{% static "images/IsotipoColor.png"%}">
{% endblock %}

{% block content %}

    <header id="main-navigation">
        <img src="{% static "images/ImagotipoNegativo.png"%}" alt="LOGO SCG" />
    </header>

    <section id="reset-form">
            <h2>Cambiar Contraseña</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="reset-button">Cambiar Contraseña</button>
            </form>
    </section>

    <footer id="main-footer">
        <p>&copy; 2024 SCG</p>
    </footer>

{% endblock %}