{% extends "base.html" %}
{% load static %}

{% block title %} 
    Cambiar Clave
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "user/reset_correo.css" %}">
{% endblock %}

{% block content %}

    <section id="reset-form">
        <h2>Confirmar Cambio de Clave</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.new_password1 }}
            {{ form.new_password2 }}
            <button type="submit" class="reset-button">Confirmar Cambio</button>
        </form>
    </section>

{% endblock %}