{% load static %}

{% block title %} 
    <title>Cambiar clave</title>
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "app.css" %}">
    <link rel="stylesheet" href="{% static "user/reset_correo.css" %}">
    <link rel="icon" type="image/x-icon" href="{% static "images/IsotipoColor.png"%}">
{% endblock %}

{% block content %}

    <header id="main-navigation">
        <img src="{% static "images/ImagotipoNegativo.png"%}" alt="LOGO SCG" />
    </header>

    <section id="reset-form">
        <h2>Confirmar Cambio de Clave</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.new_password1 }}
            {{ form.new_password2 }}
            <button type="submit" class="reset-button">Confirmar Cambio</button>
        </form>
    </section>

    <footer id="main-footer">
        <p>&copy; 2024 SCG</p>
    </footer>

{% endblock %}