{% extends "base.html" %}
{% load static %}

{% block title %} 
    Mi Perfil
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "user/view_perfil.css" %}">
{% endblock %}

{% block content %}

    <div id="perfil-container">
        <img class='img' src="{% static "images/profile.png"%}" alt="PERFIL" />
        <h2>Mi Perfil</h2>

        <section id="perfil">
            <p>Correo: {{ user_correo }}</p>
            <p>Tipo de Usuario: {{ user_tipo }}</p>
            <p>Tipo de Cuenta: {{ user_cuenta_nombre }}</p>
            <a href="{% url 'reset' %}">Cambiar contraseña</a>
        </section>
    </div>
    
{% endblock %}