{% extends "base.html" %}

{% block title %} 
    REPORTE - {{ reporte.id_reporte }}
{% endblock %}

{% block content %}

  <main>
    <div class="container charts">
        <div class="row heading-row">
            <div class="col heading-row">
                <h1>
                    <span data-i18n="sec_report_dash.main_title">sec_report_dash.main_title</span>&nbsp;
                    <span>{{ reporte.id_reporte }}</span>
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col report-alerts-intro">
                <p class="text-center" data-i18n="sec_report_dash.text_intro">sec_report_dash.text_intro</p>
                <h1 class="text-start" style="font-size: 20px;" data-i18n="sec_report_dash.scope_title"><strong>sec_report_dash.scope_title</strong></h1>
                <p>
                    <span data-i18n="sec_report_dash.scope_text">sec_report_dash.scope_text</span>
                    <br>
                    <span id="target_hosts" style="margin: 30px;">000</span>
                </p>
            </div>
        </div>
        <div class="row heading-row">
            <div class="col heading-row report-alerts-by-category">
                <div class="accordion" role="tablist" id="accordion-1"></div>
            </div>
        </div>
        <div class="row heading-row">
            <div class="col heading-row report-alerts-by-host">
                <div class="accordion" role="tablist" id="accordion-2"></div>
            </div>
        </div>
    </div>
  </main>

{% endblock %}