@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', 'Lato', sans-serif;
}

body {
  margin: 0;
}

h1,
h2,
h3 {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

#main-navigation {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: static;
  top: 0;
  left: 0;
  background: linear-gradient(to right top, #002d74, #3a8dde);
  padding: 3%;
}

#main-navigation img {
  width: 200px; 
  height: auto;
}

#main-navigation h2 {
  margin-right: auto; /* Empuja el botón de inicio hacia la izquierda tanto como sea posible */
}

#main-navigation a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  margin-left: 1rem;
}

#main-navigation a:hover,
#main-navigation a:active {
  color: #cf79f1;
}

#main-navigation h1 a:hover,
#main-navigation h1 a:active {
  color: white;
}

#main-footer {
  background: linear-gradient(to right top, #002d74, #3a8dde);
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
}

/* Elimina el estilo del botón y deja solo el texto */
.dropdown {
  display: inline-block;
  position: relative;
  color: #fff;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #6305dd;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0; /* Ajusta la posición del dropdown a la derecha */
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropbtn {
  max-width: 50px; 
  max-height: 50px;
}